# data handling
numpy
pandas>=1.1.5
stockstats
yfinance
git+https://github.com/barneyjackson/pyfolio  # needed to fix bug: https://github.com/quantopian/pyfolio/issues/520

# plot
matplotlib

# Model Building Requirements
scikit-learn>=0.21.0
gym>=0.17
stable-baselines3[extra]

# testing requirements
pytest

# clean this hideous code
flake8
yapf

# yolo
IPython
